@import './mixins.scss';

$orange: #ff8a42;
$brown: #261703;
$black: #000000;
$white: #ffffff;

* {
  font-family: 'Wellfleet', cursive;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 20px 10%;
  align-items: flex-end;
  position: relative;
  background: $orange;
  height: 65px;
  gap: 40px;
  border: 2px solid $black;
  @include size('medium') {
    flex-direction: column;
    height: auto;
    padding: 20px 2%;
    text-align: center;
    justify-content: center;
    justify-content: center;
    height: auto;
  }
  .header-section {
    @include size('medium') {
      width: 100%;
    }
    &:first-of-type {
      width: 32%;
      min-width: 350px;
      display: flex;
      flex-direction: row-reverse;
      @include size('medium') {
        flex-direction: row;
        align-items: flex-end;
        min-width: initial;
      }
    }
    span {
      font-size: 18px;
      line-height: 22px;
      color: $white;
      @include size('medium') {
        font-size: 15px;
        line-height: 20px;
      }
    }
    h1 {
      color: $white;
      font-size: 30px;
      line-height: 37px;
      @include size('medium') {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
  .header-logo {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 15%;
    min-width: 180px;
    img {
      width: 100%;
    }
    @include size('medium') {
      top: 20px;
      left: 20px;
    }
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 70px 20px 25px 10%;
  gap: 36px;
  @include size('large') {
    gap: 18px;
    .field {
      padding-bottom: 15px;
    }
  }
  .field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 262px;
    padding-bottom: 25px;
    label {
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: $black;
    }
    input[type='text'] {
      background: $white;
      border: 2px solid $brown;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      height: 46px;
      padding: 0 15px;
      outline: none;
    }
    .error-message {
      color: $orange;
      font-size: 12px;
      position: absolute;
      bottom: 0;
    }
  }
  .submit-button {
    cursor: pointer;
    min-width: 151px;
    border: 2px solid $brown;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 11px 15px;
    color: $white;
    background: $orange;
    border-radius: 12px;
    outline: none;
    height: 50px;
    margin-bottom: 3px;
  }
}
.graph-container {
  width: 80%;
  margin: 0 auto;
  background: $brown;
  border: 3px solid;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 25px;
  min-height: 500px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .container-header {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 60% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    .header-item {
      border-bottom: 2px solid$white;
      border-right: 2px solid$white;
      color: $white;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      text-align: center;
      padding: 8px 0;
      &:last-of-type {
        border-right: none;
      }
    }
  }
  .commit-row {
    .row {
      display: grid;
      width: 100%;
      grid-template-columns: 10% 60% 10% 10% 10%;
      justify-content: center;
      align-items: center;
      height: 50px;
      overflow: hidden;
      cursor: pointer;
    }
  }
  .row-0 {
    .circle::before {
      display: none;
    }
  }
  .circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid$white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;

    &::before {
      content: '';
      width: 3px;
      height: 16px;
      background: $white;
      position: absolute;
      bottom: 100%;
    }
    &::after {
      content: '';
      width: 3px;
      height: 16px;
      background: $white;
      position: absolute;
      top: 100%;
    }
  }
  .commit-row-item {
    padding: 11px 5px;
    color: $white;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $white;
  }
  .active-commit {
    background: rgba(196, 196, 196, 0.25);
    position: relative;
    .check {
      width: 18px;
      height: 18px;
      background: $orange;
      border-radius: 50%;
    }
    .commit-details {
      background: rgba(196, 196, 196, 0.6);
      padding: 21px;
      padding-left: 10%;
      .details {
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        border-left: 1px solid$white;
      }
      .title {
        padding-left: 1%;
        padding-top: 31px;
        border-left: 1px solid$white;
        width: 65%;
      }
      span {
        color: $white;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        padding: 5px;
      }
      a {
        color: $white;
        margin-left: 2px;
      }
    }
  }

  .description {
    text-align: left;
    padding-left: 10px;
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
